registry = https://artifactory.platform.manulife.io/artifactory/api/npm/mfc-dig-npm/
_auth = ZHNkZXZvcHM6QVAyQlhkamVQNGQ1bkRva0hvTGt5c0VvY25M
email = Digital_Solutions_Support@manulife.com
always-auth = true
